.transactionTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.transactionTable th,
.transactionTable td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.transactionTable th {
    background-color: black;
    color: white;
    text-align: center;
}

.transactionTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.transactionTable tr:hover {
    background-color: #ddd;
}